body
{
	background-color: #262626fa;
	font-family: 'Roboto', sans-serif;
}

.shade h1
{
	line-height: 90px;
	color: white;
	font-size: 6rem;
	font-weight: 700;
	margin-left: 130px;
	margin-top: 180px;
	margin-bottom: 0;
	text-shadow: 10px 5px 10px rgba(0 , 0 , 0 , 0.3);

}

h3
{
	color: #797979;
	letter-spacing: 1px;
	width: 80%;
	line-height: 30px;
	font-size: 25px;
	font-weight: 300;
	margin-left: 130px;
	margin-bottom: 0;
	text-shadow: 10px 5px 10px rgba(0 , 0 , 0 , 0.3);
	text-align: left;
}

.row h3 {
	color: #797979;
	font-size: 25px;
}

.shade p
{
	color: #797979;
	text-shadow: 5px 2px 5px rgba(0 , 0 , 0 , 0.5);
	font-size: 18px;
	margin-top: 15px;
	margin-left: 130px;
	letter-spacing: 0.5px;
}

span:hover
{
	padding: 0;
	margin: 0;
	color: #FC1C56;
    cursor: default;
}


.sidenav 
{
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #201E1E;
  overflow-x: hidden;
}

.sidenav a
{
	padding-top: 25px;
	margin-left: 12px;
	font-size: 30px;
	color: #818181;
	display: block;
}

.sidenav a:hover
{
	transform : translateX(3px);
	color: #7BA1F7;
}

#special-icon {
	margin-top: 90px;
	margin-left: 4px;
}

.active
{
	color: #7BA1F7;
}

.row
{
	margin-top: 100px;
}

.row h2
{
	color: #797979;
}



/* CONTACT PAGE */

.contact-list
{
	margin-top: 30px;
	margin-left: 95px;
	font-weight: 300;
	text-align: left;
	display: block;
	font-size: 30px;
	list-style-type: none;
}

.contact-list li
{
	margin-bottom: 20px;
		
}
.contact-list i
{
	margin-right: 20px;
		
}

.contact-list a
{
	display: block;
	text-decoration: none;
	color: #797979;
}

.contact-list a:hover
{
	color: #f3f3f3;
	transform : translateX(5px);
}

.contact-list a:hover span
{
	color: #FC1C56;
}


/* END CONTACT PAGE */