body
{
	background-color: #262626;
	font-family: 'Roboto', sans-serif;
}

h1
{
	line-height: 90px;
	color: white;
	font-size: 90px;
	font-weight: 700;
	margin-left: 130px;
	margin-top: 180px;
	margin-bottom: 0;
	text-shadow: 10px 5px 10px rgba(0 , 0 , 0 , 0.3);

}

h3
{
	color: #797979;
	letter-spacing: 1px;
	width: 60%;
	line-height: 30px;
	font-size: 20px;
	font-weight: 400;
	margin-left: 130px;
	margin-bottom: 0;
	text-shadow: 10px 5px 10px rgba(0 , 0 , 0 , 0.3);

}

.aboutme
{
	margin-top: 30px;
}

p
{
	color: #797979;
	text-shadow: 5px 2px 5px rgba(0 , 0 , 0 , 0.5);
	font-size: 18px;
	margin-top: 10px;
	margin-left: 130px;
	letter-spacing: 0.5px;
}

span:hover
{
	padding: 0;
	margin: 0;
	color: #FC1C56;
    cursor: default;
}

.sidenav 
{
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #201E1E;
  overflow-x: hidden;
  padding-top: 20px;
}

.icon
{
	margin-top: 140px;
	margin-left: 04px;
}

.sidenav a
{
	padding-top: 30px;
	margin-left: 12px;
	font-size: 30px;
	color: #818181;
	display: block;
}

.sidenav a:hover
{
	color: #7BA1F7;
}
.sidenav a:active
{
	color: #7BA1F7;
}
