* {
	margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
	background-color: #252627;
    height: 100%;
    width: 100%;
}

.navbar {
	background-color: #181818;
	position: fixed !important;
	height: 100%;
	width: 60px;
	padding: 0 !important;
	float: left;
}

.navbar i {
	color: #626060;
	font-size: 28px;
	margin-top: 10px;
	transition: all 0.4s;
}

#active {
	color: #08fdd8;
}

.navbar i:hover {
	transform : translateX(3px);
	color: #08fdd8;
}

.heading {
	margin-left: 12vw;
	margin-top: 16%;
	float: left;
	cursor: default;
}

.heading h1 {
	color: #fff;
	font-size: 10vw;
	font-weight: 700;
}

.heading h3 {
	color: #525252;
	font-size: 25px;
	width: 100%;
}

.heading p {
	color: #525252;
	font-size: 25px;
	width: 80%;
}

span:hover {
	color: #ff283c;
}

.contact-list
{
	font-size: 25px;
	font-weight: 300;
	text-align: left;
	display: block;
	list-style-type: none;
}

.contact-list li
{
	margin-bottom: 15px;
		
}
.contact-list i
{
	margin-right: 15px;
}

.contact-list a
{
	display: block;
	text-decoration: none;
	color: #797979;
	transition: all 0.4s;
}

.contact-list a:hover
{
	transform : translateX(5px);
	color: #f3f3f3;
}

.contact-list a:hover span
{
	color: #FC1C56;
}

@media only screen and (max-width: 600px) {
.navbar {
	background-color: #181818;
	position: fixed !important;
	height: 60px;
	width: 100%;
	padding: 0 !important;
}

.navbar a {
	padding-top: 0 !important;
}

.heading {
	min-height: 500px;
}

@media only screen and (max-width: 480px) {

.heading {
	min-height: 750px;
}

}

@media only screen and (max-width: 320px) {

.heading {
	min-height: 1200px;
}

}

@media only screen and (max-width: 768px) {

.heading {
	min-width: 50px;
}

}