h1 {
  font-family: 'Fuggles', cursive;
  font-size: 5em;
  margin: 1em 0 0.5em 0;
  display: inline-block;
}

html { font-size: 1.0em; }

h2 {
  font-size: 1.3em;
  margin: 1em 0 1em 0;
  position: relative;
  z-index: 1;
}

h2::before {
  border-top: 2px solid #dfdfdf;
  content:"";
  position: absolute;
  top: 115%; left: 0; right: 0; bottom: 0;
  width: 25%;
  z-index: -1;
}

h3 { font-size: 1.2em; }

h4 { font-size: 1.1em; }

p { 
  font-family: 'Roboto', sans-serif;
  color: #1c1c1c;
}

small { font-size: 0.8em; }

.container {
  height: 100%;
}

.run-animation {
  transition: background-color 1.2s ease;
}

.white-background { 
  background-color: #1c1c1c;
}

.black {
  color: white;
}

i {
  padding-left: 1em;
}
